{
  "blogTitle": "Don't make me think! - badmonkeh.com",
  "siteUrl": "http://www.badmonkeh.com",
  "author": "Christian Froehlich",
  "email": "",
  "posts": "_posts",
  "layouts": "_layouts",
  "theme": "badmonkeh",
  "output": "../Website",
  "urlFormat": "blog/yyyy/MM/dd/slug",
  "directoryname": "",
  "copyDirectories": [
    "images",
    "js",
    "css",
    "rootFiles => ."
  ],
  "processFiles": [{
    "file": "index.cshtml",
    "loop": "Posts"
  },{
    "file": "category.cshtml",
    "loop": "Categories"
  },{
    "file": "categories.cshtml => category"
 },{
    "file": "tag.cshtml",
    "loop": "Tags"
  },{
    "file": "tags.cshtml => tag"	
  },{
    "file": "archive.cshtml"
  },{
    "file": "about.cshtml"
  },{
    "file": "rss.xml",
    "loop": "RSS"
  },{
    "file": "feed.xml",
    "loop": "atom"
  }]
}