@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>

@{
  Layout = "default.cshtml";
}

<h2>Who the hell are you anyway?</h2>

<p>My name is Christian Froehlich and I am a passionate Software Developer (read: code monkey) from Australia.</p>

<p>I work mostly with Microsoft .NET technologies, in particular C# and ASP.NET, but I am interested in almost anything technical.</p>

<p>Apart from coding, my other main passions run towards computer/console gaming and photography. Please check out my photos <a href="http://photos.badmonkeh.com">here</a>. :)</p>

<p>My goals in life are to learn as much as I can, about anything and everything really, and to and make people laugh and think along the way.</p>

<h2>Why does this blog exist?</h2>

<p>This blog helps me write down and condense some of the tidbits of knowledge I gain over time. It also serves as an outlet for me to generally rant and rave.</p>

<p>Who knows something I write may actually be useful to someone else and the bonus karma would be great.</p>

<h2>What's your opinion on selling my details to a suspicious looking character lurking down an alleyway?</h2>

<P>By and large I try to avoid suspicious looking characters in alleyways. And in general I will do my utmost to keep your personal details confidential.</p>

<h2>Can I steal your code, articles, images, mortal soul or anything else to put to my own uses?</h2>

<P>All of the code provided as examples in blog entries on this site is free for you to use in any shape or form. However be aware that it comes with no warranty, should it somehow format your computer or escape and grow into a megalomaniacal artificial intelligence – don’t blame me.</p>

<P>The articles you may not reproduce in their entirety however you may use excerpts as long as you link back to the original article.</p>

<P>Anything else, unless explicitly noted, is copyrighted.</p>
